

.breweries > div > div > figure {
/*    border: 1px solid red;*/
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    /* position: relative; */
}

.breweries > div > div > figure > img {
    width: 100%;
}


.breweries > div > div {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }

  fieldset{
    border-style: dotted;
      border-radius: 9px;
  }
  fieldset legend{
    font-weight: 700;
  }